﻿body
{
    background: #dddddd;
    font-family: Verdana, Arial, Tahoma, Times New Roman;
    font-size: 0.7125em;
    margin:0;
}
h1
{
    font-size: 2.0em;
    font-weight: bold;
    padding: 0 0 1.5% 0;
    overflow: auto;
}

.txtMedia{
    Width:200px;
    padding-left:5px;
}

.labelBianca{
    font-size:large;
    color:white;
}

.txtLunga{
    Width:250px;
    padding-left:5px;
}

.labelMedia{
    Width:150px;
    padding-left:5px;
}

.labelLunga{
    Width:150px;
    padding-left:5px;
}

.logoMenu{
    background: url(img/logoPassMakers.png) no-repeat;
}

p
{
    clear: both;
}
#Container
{
    height:40px;
    background: url(img/menu.png) repeat-x;
}
#footer
{
    bottom: 0px;
    clear: both;
    text-align: justify;
    width: 100%;
    overflow: auto;
    text-indent: 1%;
}
#Header
{
    width: 100%;
    overflow: visible;
    top: 0;
    background: #000000;
    clear: both;
    z-index: 2200550033;
}
#Main
{
    border-bottom: solid 1px black;
    width: 95%;
    overflow: auto;
    margin: 2% 2% 2% 2%;
    padding: 0 0 1% 0; 
    z-index:2;
}
.Breadcrumbs
{
    background: url(img/menu.jpg) repeat-x;
   /* padding: 0.5% 1% 0% 1%; */
     z-index:50; 
     clear:both;
}
/* Menu Styling */
ul.AspNet-Menu
{
    position: relative;
}
ul.AspNet-Menu, ul.AspNet-Menu ul
{
    margin: 0;
    padding: 0;
    display: inline-block; /*border-left:<span class='val'> solid <span class='unit'>2</span>px #<span class='unit'>222222</span></span>;*/
}
ul.AspNet-Menu li
{
    position: relative;
    width: 9.79%;
}
ul.AspNet-Menu li a, ul.AspNet-Menu li span
{
    display: block;
    color: #F1F1F1;
}
ul.AspNet-Menu li:hover ul, ul.AspNet-Menu li li:hover ul, ul.AspNet-Menu li li li:hover:ul, ul.AspNetMenu li.AspNet-Menu-Hover ul, ul.AspNetMenu li li.AspNet-Menu-Hover ul, ul.AspNetMenu li li li.AspNet-Menu-Hover ul
{
    display: block;
}
.AspNet-Menu-Horizontal
{
    border-top: solid 1px grey;
    background: url('images/navbackground.gif') repeat-x;
    margin: 0;
    height: auto; /*z-index:<span class='val'> auto</span>;*/
}
.AspNet-Menu-Horizontal ul.AspNet-Menu li
{
    color: #F1F1F1;
    background: url('images/navbackground.gif') repeat-x;
    border-left: solid 2px #222222;
    padding: 1% 5% 1% 5%;
    margin: 0;
    font-weight: bold;
    font-size: larger;
    text-align: center;
}
.AspNet-Menu-Horizontal ul.AspNet-Menu ul
{
    left: 0;
    top: 2.7em;
    width: 100%;
}
.AspNet-Menu-Horizontal ul.AspNet-Menu ul li
{
    /*background:<span class='val'> url(images/navbackground.gif) repeat-x</span>;*/
    background: #3f3f3f;
    color: #F1F1F1;
    width: 100%;
    font-size: 0.8em;
    font-weight: normal;
}
.AspNet-Menu-Horizontal ul.AspNet-Menu ul li a:hover
{
    background: url('images/navbackground.gif') repeat-x;
}
