﻿<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="database.aspx.vb" Inherits="GianlucaOrsini.database" MasterPageFile="~/Site1.Master" %>



<asp:Content ID="Content1" runat="server" ContentPlaceHolderID="ContentMenu">
    <link href="cssMenu.css" rel="stylesheet" type="text/css" />
    <asp:scriptmanager id="ScriptManager1" runat="server"></asp:scriptmanager>
    <asp:sitemapdatasource id="SiteMapDataSource1" runat="server" sitemapprovider="" showstartingnode="false" startingnodeoffset="0" />
        <div id="Page">
           <div id="Container">
            <asp:menu id="Menu1" runat="server" datasourceid="SiteMapDataSource1" orientation="Horizontal" width="95%" staticdisplaylevels="1" Height="30px">
               <dynamicmenustyle />
            </asp:menu>
            <div class="Breadcrumbs">
                <asp:sitemappath id="SiteMapPath1" runat="server"></asp:sitemappath>
            </div>
           </div>
        </div>
</asp:Content>

<asp:Content runat="server" ContentPlaceHolderID="ContentPlaceHolder1">

    <div>
     <asp:Label ID="Label1" runat="server" Font-Bold="True" Font-Size="Large" Text="ELENCO NOMINATIVI PRESENTI NEL DATABASE"></asp:Label>
        <br />
        <br />
    
        <asp:Label ID="lblNumeroContatti" runat="server" Text="Label"></asp:Label>
    
        <br />
 </div>
    <div>  
      <asp:GridView ID="GridView1" runat="server" 
            AllowSorting="True" AutoGenerateColumns="False" DataKeyNames="id" AllowPaging="True" PageSize="20">  
            <Columns>  
                <asp:BoundField DataField="name" HeaderText="Name" ReadOnly="True"  ItemStyle-Width="150" SortExpression="name" >  
                <FooterStyle BackColor="#FF0066" />
<ItemStyle Width="150px"></ItemStyle>
                </asp:BoundField>
                <asp:BoundField DataField="surname" HeaderText="Surname"   ItemStyle-Width="150" SortExpression="surname" >  
<ItemStyle Width="150px"></ItemStyle>
                </asp:BoundField>
                <asp:BoundField DataField="email" HeaderText="Email"   ItemStyle-Width="150" SortExpression="email" >  
<ItemStyle Width="150px"></ItemStyle>
                </asp:BoundField>
                <asp:BoundField DataField="cell" HeaderText="Phone"   ItemStyle-Width="150" SortExpression="cell" >  
<ItemStyle Width="150px"></ItemStyle>
                </asp:BoundField>
                <asp:BoundField DataField="address" HeaderText="Address"   ItemStyle-Width="150" SortExpression="address" >   
<ItemStyle Width="150px"></ItemStyle>
                </asp:BoundField>
            </Columns>  
            <PagerSettings PageButtonCount="30" />
        </asp:GridView>    
    </div>
    
</asp:Content>

<asp:Content ContentPlaceHolderID="ContentPlaceHolder2" runat="server">
    <link href="cssMenu.css" rel="stylesheet" type="text/css" />
    <div>
        <asp:Button ID="Button1" runat="server" Text="Indietro" CssClass="database" />
&nbsp;
        <asp:Button ID="Button2" runat="server" Text="Aggiungi Nominativo" CssClass="database2" />
    &nbsp;<asp:Button ID="Button3" runat="server" Text="Cancella Tutto" />
        <asp:Label ID="Label2" runat="server" Text="Label"></asp:Label>
    </div>

</asp:Content>
