﻿<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="database_import.aspx.vb" Inherits="GianlucaOrsini.database_import" MasterPageFile="~/Site1.Master" %>

<asp:Content ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <div>
     <asp:Label ID="Label1" runat="server" Font-Bold="True" Font-Size="Large" Text="SELEZIONAR IL FILE DA IMPORTARE"></asp:Label>
        <br />
        <br />
        <br />
    </div>
    <div>
        <asp:FileUpload ID="FileUpload1" runat="server"/>
        <br />
        <br />
        <asp:Label ID="statusLabel" runat="server" Text="----"></asp:Label>
        <br />
        <br />
        <asp:Button ID="Button2" runat="server" Text="Importa Contatti" OnClick="UploadButton_Click"/>
    </div>


</asp:Content>

<asp:Content ContentPlaceHolderID="ContentPlaceHolder2" runat="server">

    <link href="cssMenu.css" rel="stylesheet" type="text/css" />
    <div>
        <asp:Button ID="Button1" runat="server" Text="Indietro" CssClass="database" />
    </div>
</asp:Content>